.Home {
    color: white;
    font-size: 5vmin;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
}

.Home span {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10vmin;
}

.Home span::first-letter {
    font-size: 6vmin;
}

.Home p {
    font-size: 3vmin;
}

@media screen and (max-width: 720px) {
    .Home {
        font-size: 6vmin;
    }

    .Home span::first-letter {
        font-size: 7vmin;
    }

    .Home p {
        font-size: 3.5vmin;
    }
}